.App {
  text-align: center;
  height: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  overflow: hidden;
  user-select: none;
  background: white;
}
.App,.am-modal-wrap{
  left:50% !important;
  width:400px;
  transform: translate(-250px, 0)!important;
}

::-webkit-scrollbar { display: none; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.demoTitle:before,
.demoTitle:after {
  border-bottom: none;
}